$white: #fff;
$black: #000;

body {
	font-size: 14px;
	color: $black;
	// background-image: url('./assets/outer-space.jpg');
	background: $white;
}

.btn {
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 1px solid darken(#ccc, 20%);
	background-color: #ccc;
	border-radius: 0.25em;
	cursor: pointer;

	&:hover {
		background-color: lighten(#ccc, 5%)
	}
}

.hidden {
	visibility: hidden;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timer {
	font-size: 1em;
	height: 1em;
	padding-right: 0.7em;
	margin-bottom: 4px;
	display: inline;
	align-self: flex-end;
}

.game-status {
	height: 4em;
}

.main-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-container { 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.board-container {
	background-color: $white;
}

table {
	border: 1px solid #ddd;
}

.mc-base {
	background-color: white;
	border: 1px solid #ddd;
	height: 2em;
	width: 2em;
	text-align: center;
}

.mc-covered {
	@extend .mc-base;
	border: 1px solid #ccc;
	background-color: #ddd;
}

.mc-0 {
	@extend .mc-base;
	opacity: 0;
}

.mc-1 {
	@extend .mc-base;
	color: blue;
}

.mc-2 {
	@extend .mc-base;
	color: green;
}

.mc-3 {
	@extend .mc-base;
	color: red;
}

.mc-4 {
	@extend .mc-base;
	color: darken(blue, 20%);
}

.mc-5 {
	@extend .mc-base;
	color: maroon;
}

.mc-6 {
	@extend .mc-base;
	color: darken(green, 20%);
}

.mc-7 {
	@extend .mc-base;
	color: darken(red, 20%);
}

.mc-8 {
	@extend .mc-base;
	color: brown;
}


.mc-mine {
	@extend .mc-base;
}